* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.menu-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
}

.menu-close {
    cursor: pointer;
    font-size: 1.5rem;
}

.score-adjust div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.score-adjust button {
    margin: 0 10px;
}

.bluelabel {
    color: blue;
}

.redlabel {
    color: red;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.score-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: none;*/
    color: white;
    cursor: pointer;
    font-size: 30vw; /* 20% of the viewport width */
    border: 0px solid purple;
}

.score-button:focus {
    text-decoration: underline
}
/*
    .score-button span {
        //display: inline-block;
        display: block;
        max-height: 80%;
        max-width: 80%;
        font-size: 1em;
    }
*/

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

/* Layout for when width is greater than height */
@media (min-aspect-ratio: 1/1) {
    .container {
        flex-direction: row;
    }
}

/* Layout for when height is greater than width */
@media (max-aspect-ratio: 1/1) {
    .container {
        flex-direction: column;
    }
}

#teamName {
    font-size: .1em;
/*
    position: relative;
    top: -25%;
    left: 24%;
    flex: 100px 1; 
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */

    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.switcher {
    position:absolute;
    width: 50px;
    height: 50px;

/*    removing top and left allows the object to be in the center
    top: 48%;
    left: 47.5%;
    background-color: purple;
*/
    z-index: 8;
}
